<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-568">
    <div class="cs-container">
        <div class="cs-left">
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Get In Touch</h2>
                <p class="cs-text">
                    Pellentesque sit amet porttitor eget dolor morbi non arcu. Vitae justo eget magna fermentum iaculis eu non
                </p>
            </div>
            <!--Form-->
            <form class="cs-form" id="cs-form-568" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-568" name="name" placeholder="Name">
                </label>
                <label class="cs-label">
                    Phone
                    <input class="cs-input" required type="text" id="phone-568" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Email
                    <input class="cs-input" required type="text" id="email-568" name="email" placeholder="Email">
                </label>
                <label class="cs-label">
                    How did you hear about us?
                    <input class="cs-input" required type="text" id="hear-568" name="heat" placeholder="How did you hear about us?">
                </label>
                <label class="cs-label cs-message">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-568" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-submit" type="submit">Send Message</button>
            </form>
        </div>
        <div class="cs-right">
            <!--Address-->
            <span class="cs-header">Address</span>
            <a href="" class="cs-link">123 Fake Mill Creek<br> Bark, USA 98082</a>
            <!--Email-->
            <span class="cs-header">Email</span>
            <a href="" class="cs-link">info@email.com</a>
            <!--Phone-->
            <span class="cs-header">Phone</span>
            <a href="tel:555-689-9566" class="cs-link cs-phone">1 - 555 - 689 - 9566</a>
            <!--Social-->
            <ul class="cs-social">
                <li class="cs-li">
                    <a class="cs-social-link" href="" aria-label="visit facebook">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/facebook4.svg" alt="icon" width="13" height="26" decoding="async" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-social-link" href="" aria-label="visit instagram">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/instagram4.svg" alt="icon" width="23" height="23" decoding="async" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-social-link" href="" aria-label="visit twitter">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/twitter4.svg" alt="icon" width="26" height="21" decoding="async" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-social-link" href="" aria-label="visit whatsapp">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Contact-Page/whatsapp.svg" alt="icon" width="23" height="23" decoding="async" aria-hidden="true">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
                                