<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/Logo2.svg" alt="logo" width="264" height="78"></a>
            <p>
                Built for Contractors. Backed by Experience.
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#sbs-945">About Us</a>
                    </li>
                    <li>
                        <a href="#services-1646">Services</a>
                    </li>
                    <li>
                        <a href="#reviews-354">Reviews</a>
                    </li>
                    <li>
                        <a href="#cs-contact-490">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Contracts</li>
                    <li>Quotes, Estimates & Bids </li>
                    <li>Invoicing & Payroll</li>
                    <li>Scheduling & Job Tracking</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="#cs-contact-490">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">Enigma Digital</a>
        <span class="copyright">
            Copyright {% year %} - Present</span>
    </div>
</footer>